.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

table, th, td {
    border: 1px solid black;
    padding: 15px;
}

.comment{
  border: 1px solid black;
  padding: 15px;
}
th {
    cursor: pointer;
}
