{% extends "base_generic.html" %}


 {% block content %}
          <ul class="sidebar-nav">
     <li><a href={% url 'logout' %}> Log Out</a></li>
              <li><a href={% url 'gohome' %}>Home</a></li>
</ul>
    <title>All Projects</title>
     <h1>All Projects</h1>
     {% if has_project %}
       {% for project in projects%}

           <h2>
               {{project.project_name}}
           {{project.upvotes}}
           </h2>

                      <h2>
  <a href={% url 'upvote' project.pk %}>Upvote</a>
  <a href={% url 'addproject' project.pk %}>Add to Project List</a>
           </h2>
       {% endfor %}
     {% else %}
               <p>No projects</p>
     {% endif %}
{% endblock %}