{% extends "base_generic.html" %}

{% block content %}
<h2><a href={% url 'gohome' %}>Go Back</a></h2>
<div>

    <h2>Company Report</h2><br>
    <form action="" method="post" enctype="multipart/form-data" class="col-lg-5">
        {% csrf_token %}

          <div class="form-group">
            <label class="form-control-label" for="company_name">Company Name</label>
            <input class="form-control" type="text" id="company_name"  name="company" placeholder="Enter Company Name">
          </div>

          <div class="form-group">
            <label class="form-control-label" for="company_name">Funding Goal</label>
            <input class="form-control" type="text" id="funding_goal"  name="funding_goal" placeholder="Enter Your Funding Goal">
          </div>

          <div class="form-group">
            <label class="form-control-label" for="company_name">Current Projects</label>
            <input class="form-control" type="text" id="current_projects"  name="current_projects" placeholder="Enter Your Current Projects">
          </div>

          <div class="form-group">
            <label class="form-control-label" for="company_name">Phone Number</label>
            <input class="form-control" type="text" id="phone"  name="phone" placeholder="Enter your Phone Number">
          </div>

          <div class="form-group">
            <label class="form-control-label" for="company_name">Company Location</label>
            <input class="form-control" type="text" id="location"  name="location" placeholder="Enter Your Company Location">
          </div>

          <div class="form-group">
            <label class="form-control-label" for="company_name">Company Country</label>
            <input class="form-control" type="text" id="country"  name="country" placeholder="Enter Your Company Country">
          </div>

          <div class="form-group">
            <label class="form-control-label" for="company_name">Company Sector</label>
            <input class="form-control" type="text" id="funding_goal"  name="sector" placeholder="Enter Your Company Sector">
          </div>

          <div class="form-group">
            <label class="form-control-label" for="company_name">Company Industry</label>
            <input class="form-control" type="text" id="funding_goal"  name="industry" placeholder="Enter Your Company Industry">
          </div>

          <div class="form-group">
          <label>Report</label>
            <textarea class="form-control" rows="30" name="description" id="description" placeholder="Enter description"></textarea>
          </div>

          <button type="submit" class="btn btn-primary hh-btn">Submit Report</button>


      </form>
</div>

{% endblock %}
