{% extends "base_generic.html" %}

{% block content %}
             <ul class="sidebar-nav">
     <li><a href={% url 'logout' %}> Log Out</a></li>
              <li><a href={% url 'managerhome' %}>Home</a></li>
</ul>
<form action="/your-name/" method="post">
    <label for="company_name">Company Name: </label>
    <input id="" type="text" name="company_name" value="{{ company_name }}">
    <label for="funding_goal">Funding Goal: </label>
    <input id="" type="text" name="funding_goal" value="{{ funding_goal }}">
  </br>
    <textarea rows="150" cols="100">
    Enter your report here
    </textarea>
    <input type="submit" value="Submit Report">
</form>

{% endblock %}
