{% extends "base_generic.html" %}

{% block content %}
<h2><a href={% url 'gohome' %}>Go Back</a></h2>
{% for message in messages reversed %}

<h2>Sender:{{message.sender}}</h2>
<h2>Message: {{message.message}}</h2>
<br/>
<form method = "POST" action ="." class = "form-group">{% csrf_token %}
            <table>
            {{ form}}
            </table>
            <input type="submit" class = "submit" value="Send Message" />
        </form>

        <br />

<form method = "POST" action ="." class = "form-group">{% csrf_token %}
        <input type="hidden" class = "submit" value="{{message.id}}" name = "messagepk" />
        <input type="submit" class = "submit" value="Delete Message" name = "delete-message" />
        </form>
<h6>Next Message------------------------------------------------------</h2>
{% endfor %}

{% endblock %}
