{% extends "base_generic.html" %}

{% block content %}
<h2><a href={% url 'gohome' %}>Go Back</a></h2>
{% for message in messages reversed %}
<h2>Sender:{{message.sender}}</h2>
<h2>ID:{{message.id}}</h2>
{% if message.encrypt %}
<h2>Message: {{message.content}}</h2>
{% endif %}
{% if message.encrypt is not True %}
<h2>Message: {{message.message}}</h2>
{% endif %}
<form method = "POST" action ="." class = "form-group">{% csrf_token %}
  <input type="hidden" name="message_id" value="{{message.id}}" />
  <input type="submit" value="Decrypt Message" id="message.id" name="decrypt-message" />
</form>
<br/>
<form method = "POST" action ="." class = "form-group">{% csrf_token %}
            <table>
            {{ form}}
            </table>
            <input type="submit" class = "submit" value="Send Message" name="send-message"/>
        </form>

<form method = "POST" action ="." class = "form-group">{% csrf_token %}
        <input type="hidden" class = "submit" value="{{message.id}}" name = "messagepk" />
        <input type="submit" class = "submit" value="Delete Message" name = "delete-message" />
        </form>
<h6>Next Message------------------------------------------------------</h2>
{% endfor %}

{% endblock %}
