{% extends "base_generic.html" %}

{% block content %}
    <h2><a href={% url 'gohome' %}>Go Home</a></h2>
    <h1>Search</h1>
    <form action='search.html' method="get">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>

<br>

<table id="search_results_table">
    <thead>
        <tr>
            <th>Company</th>
            <th>Location</th>
            <th>Country</th>
            <th>Sector</th>
            <th>Industry</th>
            <th>Phone</th>
            <th>Funding Goal</th>
            <th>Report Details</th>
        </tr>
    </thead>
    {% for report in results %}
    <tbody>
        <tr>
            <td>{{ report.company }}</td>
            <td>{{ report.location }}</td>
            <td>{{ report.country }}</td>
            <td>{{ report.sector }}</td>
            <td>{{ report.industry }}</td>
            <td>{{ report.phone }}</td>
            <td>{{ report.funding_goal }}</td>
            <td><a href={% url 'viewreport' report.pk %}>View Report</a></td>
        </tr>
    </tbody>
    {% endfor %}


</table>

{#<h2>#}
{#Company Name: {{report.company}}#}
{#</h2>#}
{##}
{#<h3>#}
{#Phone Number: {{report.phone}}#}
{#</h3>#}
{##}
{#<h3>#}
{#Company Location: {{report.location}}#}
{#</h3>#}
{##}
{#<h3>#}
{#Country: {{report.country}}#}
{#</h3>#}
{##}
{#<h3>#}
{#Sector: {{report.sector}}#}
{#</h3>#}
{##}
{#<h3>#}
{#Industry: {{report.industry}}#}
{#</h3>#}
{##}
{#<h3>#}
{#    Funding goal: {{ report.funding_goal }}#}
{#</h3>#}
{##}
{#<p>#}
{#  Project Description:#}
{#  {{report.description}}#}
{#</p>#}
{##}
{##}
{#<p>#}
{#  <a href={% url 'viewreport' report.pk %}>Show More Information</a>#}
{#</p>#}


{% endblock %}

