{% extends "base_generic.html" %}
{% block content %}
<h2><a href={% url 'gohome' %}>Go Back</a></h2>
{% for report in report_list reversed %}
<h2>
Company Name: {{report.company}}
</h2>

<h2>
Phone Number: {{report.phone}}
</h2>

<h2>
Company Location: {{report.location}}
</h2>

<h2>
Country: {{report.country}}
</h2>

<h2>
Sector: {{report.sector}}
</h2>

<h2>
Industry: {{report.industry}}
</h2>

<h2>
  Project Description:
  {{report.description}}
</h2>

<h2><b>-------------------------------------------------------------------</b></h2>
{% endfor %}
{% endblock %}
