{% extends "base_generic.html" %}
{% block content %}
<style>
  .comment{
    border: 1px solid black;
    padding: 15px;
    width: 360px
  }


  .button1 {
    background-color: white;
    color: black;
    border: 2px solid Gold;
}

.button1:hover {
    background-color: Gold;
    color: black;
}
.button2 {
  background-color: Gold;
  color: black;
  border: 2px solid Gold;
}

.button2:hover {
  background-color: white;
  color: black;
}

</style>

<h2><a href={% url 'gohome' %}>Go Home</a></h2>
{% if report.is_favorite %}
<form method = "POST" action ="." class = "form-group">{% csrf_token %}
            <input type="submit" class = "button1" value="Unfavorite Report" name="unfavorite_report"/>
        </form>

        {% else  %}
        <form method = "POST" action ="." class = "form-group">{% csrf_token %}
                    <input type="submit" class = "button2" value="Favorite Report" name="favorite_report"/>
        </form>
        {% endif %}
<h2>Average Rating: {{averageRate}}</h2>
<h2>Current Rating: {{currentRate}}</h2>
<form action="" method="post">{% csrf_token %}
  <select name="dropdown">
    <option selected="selected" disabled>Rate Report:</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
  <input type="submit" value="Rate" name="rate">
</form>

<h2>
Company Name: {{report.company}}
</h2>

<h2>
Phone Number: {{report.phone}}
</h2>

<h2>
Company Location: {{report.location}}
</h2>

<h2>
Country: {{report.country}}
</h2>

<h2>
Sector: {{report.sector}}
</h2>

<h2>
Industry: {{report.industry}}
</h2>

<h2>
  Project Description:
  {{report.description}}
</h2>
<h2>
    <a href={% url 'edit_report' report.pk %}>Edit this report</a>
</h2>
<h2>Comments Below</h2>

{% for comment in comments  %}

<style>
.people-wrap {
  width: 40%;
  display: inline-block;
  /*border: black solid*/
}
.people,
.card {
  display: inline-block;
  vertical-align: middle
}
img {
  display: block
  /* remove gap*/
}
</style>
<div class="people-wrap">
  <div class="people">
<img src = "{{ user.profile.avatar.url }}" width = "60" height="40">
</div>
<div class="card">
 <h4>{{comment.sender_name}}</h4>
</div>
</div>
<br/>

comment: <h4 class="comment">{{comment.comment}}</h4>
<form method = "POST" action ="." class = "form-group">{% csrf_token %}
        <input type="hidden" class = "submit" value="{{comment.id}}" name = "comment_id" />
        <input type="submit" class = "submit" value="Delete Comment" name = "delete-comment" />
        </form>
{% endfor  %}
<form method = "POST" action ="." class = "form-group">{% csrf_token %}
            <table>
            {{ commentform}}
            </table>
            <input type="submit" class = "submit" value="Post Comment" name="post_comment"/>
        </form>

<h2>Upload Files:</h2>
         <form action="{% url 'uploadfile' report.pk %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <p>
      <input id="id_image" type="file" class="" name="file">

    <input type="submit" value="Submit" />
</form>
{% if documents %}
            <ul>
                {% for document in documents %}
                    <li><a href="{{ document.url }}">{{ document.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
{% endif %}

          <!-- <a href="{{ report.files.url }}">{{ report.files.filename }}</a> -->

{% endblock %}
